<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../partials/global.ejs') %>
        <link rel="stylesheet" href="<%= baseUrl %>/assets/css/home.css">
        <title>
            <%= appName %>
        </title>
</head>

<body>
    <%- include('../../partials/header.ejs') %>
        <%- include('../../partials/info.ejs') %>
            <div class="container">
                <section class="public-diaries">
                    <div class="home-header">
                        <h1>- Public Diaries -</h1>
                    </div>
                    <div class="series-container">
                        <% rawData.forEach(x=> { %>
                            <div class="card-container">
                                <a class="series-title-container" href="<%= baseUrl %>/series/<%= x.userId%>">
                                    <i class="fa fa-user fa-xs"></i><span>
                                        <%= x.petname %>
                                    </span>
                                </a>
                                <div class="series-card"
                                    onclick="window.location.href='<%= baseUrl %>/diary/<%= x._id %>'"
                                    style="cursor: pointer;">
                                    <div class="series-title">
                                        <i class="fa fa-book fa-xs"></i>
                                        <span>
                                            <%= x.title %>
                                        </span>
                                    </div>
                                    <div class="series-info">
                                        <span><i class="fa fa-heart fa-xs"></i>
                                            <%= x.totalLikes %> Likes
                                        </span>
                                        <br>
                                        <span><i class="fa fa-comment fa-xs"></i>
                                            <%= x.totalComments || 0 %> Comments
                                        </span>
                                        <br>
                                    </div>
                                    <div class="series-description">
                                        <span><i class="fa fa-note-sticky"></i>
                                            <%= x.description %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <% }) %>

                    </div>
                </section>
            </div>
            <%- include('../../partials/global_script.ejs', { baseUrl }) %>
</body>

</html>